services:
    php:
        container_name: route-php
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - "8000:8000"
            - "8001:8001"
        volumes:
            - ./:/var/www/html

networks:
    lion:
        driver: bridge
